.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: 720px;
}
 
.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
}

.grid-container > div {
    background: lightblue;
    border: 1px solid black;
}
.grid-container > div::before {
    padding-bottom: 100%;
    display: block;
}


